<table class="sortable overview">
	<thead>
		<tr>
			<th>Host ID</th>
			<th>DPU ID</th>
			{% if active_maintenance_filter == "maintenance" %}
				<th>Maintenance Ref</th>
				<th>Maintenance Start</th>
			{% endif %}
			<th>State</th>
			<th>Health Alerts</th>
			<th>Health Reports #</th>
			<th>IPs</th>
			<th>MACs</th>
			{% if active_maintenance_filter != "maintenance" %}
				<th>GPU #</th>
				<th>IB IFs #</th>
				<th>Host Memory</th>
			{% endif %}
			<th>DPF Enabled</th>
			<th>DPF Used For Ingestion</th>
		<tr/>
	</thead>
	<tbody>
	{% for host in hosts %}
		<tr>
			<td>{{ host.machine_id|machine_id_link|safe }}</td>
			<td>{{ host.dpu_properties(DpuProperty::MachineId)|safe }}</td>
			{% if active_maintenance_filter == "maintenance" %}
				<td>{% if host.is_link_ref %}<a href="{{ host.maintenance_reference }}">{{ host.maintenance_reference }}</a>{% else %}{{ host.maintenance_reference }}{% endif %}</td>
				<td>{{ host.maintenance_start_time }}</td>
			{% endif %}
						<td title="{{ host.state_reason }}">
				{% if host.state.to_lowercase().contains("failed") %}
					<span class="bubble error">{{ host.state }}{% if host.time_in_state_above_sla %} ⏱️{% endif %}</span>
				{% else if host.time_in_state_above_sla %}
					<span class="bubble warning">{{ host.state }} ⏱️</span>
				{% else if host.state == "Ready" || host.state == "Assigned/Ready" %}
					<span class="bubble success">{{ host.state }}</span>
				{% else %}
					<span class="bubble">{{ host.state }}</span>
				{% endif %}
			</td>
			<td>
				<a href="/admin/machine/{{ host.machine_id }}/health">
					{{ host.health_probe_alerts|health_alerts_fmt(false, false)|safe }}
				</a>
			</td>
			<td><a href="/admin/machine/{{ host.machine_id }}/health">{{ host.health_sources.len() }}</a></td>
			<td style="padding: 0;">
				<table>
					<tr><th>Host BMC</th><td><a href="/admin/explored-endpoint/{{ host.host_bmc_ip }}">{{ host.host_bmc_ip }}</a></td></tr>
					<tr><th>DPU BMC</th><td>{{ host.dpu_properties(DpuProperty::BmcIp)|safe }}</td></tr>
					<tr><th>Host Admin</th><td>{{ host.host_admin_ip }}</td></tr>
					<tr><th>DPU OOB</th><td>{{ host.dpu_properties(DpuProperty::OobIp)|safe }}</td></tr>
				</table>
			</td>
			<td style="padding: 0;">
				<table>
					<tr><th>Host BMC</th><td>{{ host.host_bmc_mac }}</td></tr>
					<tr><th>DPU BMC</th><td>{{ host.dpu_properties(DpuProperty::BmcMac)|safe  }}</td></tr>
					<tr><th>Host PF</th><td>{{ host.host_admin_mac }}</td></tr>
					<tr><th>DPU OOB</th><td>{{ host.dpu_properties(DpuProperty::OobMac)|safe  }}</td></tr>
				</table>
			</td>
			{% if active_maintenance_filter != "maintenance" %}
				<td>{{ host.num_gpus }}</td>
				<td>{{ host.num_ib_ifs }}</td>
				<td>{{ host.host_memory }}</td>
			{% endif %}
			<td>{{ host.dpf_enabled }}</td>
			<td>{% if !host.dpf_used_for_ingestion %}<span class="bubble warning">false</span>{% else %}true{% endif %}</td>
		</tr>
	{% endfor %}
		<tfoot>
			<tr>
				<th>{{ hosts.len() }} item{% if hosts.len() != 1 %}s{% endif %}</th>
				<th></th>
				{% if active_maintenance_filter == "maintenance" %}
					<th></th>
					<th></th>
				{% endif %}
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				{% if active_maintenance_filter != "maintenance" %}
					<th></th>
					<th></th>
					<th></th>
				{% endif %}
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</tbody>
</table>
