{% extends "base.html" %}

{% block title %}Managed Hosts{% endblock %}

{% block content %}
<div id="json"><a href="/admin/managed-host.json">JSON</a></div>
{% if is_filtered && grouped_hosts.is_some() %}
	<h1>Grouped and Filtered Managed Hosts</h1>
{% else if grouped_hosts.is_some() %}
	<h1>Grouped Managed Hosts</h1>
{% else if is_filtered %}
	<h1>Filtered Managed Hosts ({{ page.total_items() }})</h1>
{% else %}
	<h1>All Managed Hosts ({{ page.total_items() }})</h1>
{% endif %}

<details {% if is_filtered || grouped_hosts.is_some() %}open{% endif %}>
	<summary>Show filters</summary>
	<form class="filter-container" action="" method="get">
		<div class="filter-item">
			<label for="health-alerts-filter">Health</label>
			<select id="health-alerts-filter" name="health-alerts-filter">
				<option value="all">All</option>
				<option value="healthy" {% if active_health_alerts_filter == "healthy" %}selected{% endif %}>Healthy</option>
				<option value="unhealthy" {% if active_health_alerts_filter == "unhealthy" %}selected{% endif %}>Unhealthy</option>
			</select>
		</div>
		<div class="filter-item">
			<label for="maintenance-filter">Maint.</label>
			<select id="maintenance-filter" name="maintenance-filter">
				<option value="all">All</option>
				<option value="active" {% if active_maintenance_filter == "active" %}selected{% endif %}>Active</option>
				<option value="maintenance" {% if active_maintenance_filter == "maintenance" %}selected{% endif %}>Maintenance</option>
			</select>
		</div>
		<div class="filter-item">
			<label for="vendor-filter">Vendor</label>
			<select id="vendor-filter" name="vendor-filter" onchange="updateModelOptions()">
				<option value="all">All</option>
				{% for v in vendors %}
				<option value="{{ v|lower }}" {% if active_vendor_filter == v.to_lowercase() %}selected{% endif %}>{{ v|capitalize }}</option>
				{% endfor %}
				<option value="none"{% if active_vendor_filter == "none" %}selected{% endif %}>None</option>
			</select>
		</div>
		<div class="filter-item">
			<label for="model-filter">Model</label>
			<select id="model-filter" name="model-filter">
				<option value="all">All</option>
				<!-- Models will be populated dynamically here -->
			</select>
		</div>
		<div class="filter-item">
			<label for="state-filter">State</label>
			<select id="state-filter" name="state-filter">
				<option value="all">All</option>
				{% for s in states %}
				<option value="{{ s|lower }}" {% if active_state_filter == s.to_lowercase() %}selected{% endif %}>{{ s|capitalize }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-item">
			<label for="time-in-state-above-sla-filter">Time in State Above SLA</label>
			<select id="time-in-state-above-sla-filter" name="time-in-state-above-sla-filter">
				<option value="all" {% if active_time_in_state_above_sla_filter == "all" %}selected{% endif %}>All</option>
				<option value="true" {% if active_time_in_state_above_sla_filter == "true" %}selected{% endif %}>True</option>
				<option value="false" {% if active_time_in_state_above_sla_filter == "false" %}selected{% endif %}>False</option>
			</select>
		</div>
		<div class="filter-item">
			<label for="gpu-filter"># GPUs</label>
			<select id="gpu-filter" name="gpu-filter">
				<option value="all">All</option>
				{% for x in gpus %}
				<option value="{{ x }}" {% if active_gpu_filter == x.as_str() %}selected{% endif %}>{{ x }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-item">
			<label for="ib-filter"># IB IFs</label>
			<select id="ib-filter" name="ib-filter">
				<option value="all">All</option>
				{% for x in ibs %}
				<option value="{{ x }}" {% if active_ib_filter == x.as_str() %}selected{% endif %}>{{ x }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-item">
			<label for="mem-filter">Mem</label>
			<select id="mem-filter" name="mem-filter">
				<option value="-1">All</option>
				{% for (val, display) in mems %}
				<option value="{{ val }}" {% if active_mem_filter|ref == val %}selected{% endif %}>{{ display }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-item">
			<label for="group-by">Group by</label>
			<select id="group-by" name="group-by">
				<option value="none">None</option>
				<option value="state" {% if active_group_by == "state" %}selected{% endif %}>State</option>
				<option value="health,state" {% if active_group_by == "health,state" %}selected{% endif %}>Health, state</option>
				<option value="host_memory,num_gpus,num_ib_ifs"{% if active_group_by == "host_memory,num_gpus,num_ib_ifs" %}selected{% endif %}>Host type</option>
				<option value="health,host_memory,num_gpus,num_ib_ifs,state"{% if active_group_by == "health,host_memory,num_gpus,num_ib_ifs,state" %}selected{% endif %}>Health, host type, state</option>
			</select>
		</div>
		<div class="filter-item">
			<label>&nbsp;</label> <!-- Placeholder to align the button -->
			<input type="submit" value="Update">
		</div>
	</form>
	<script>
		// Map to hold models for each vendor
		const modelsPerVendor = JSON.parse('{{ models_per_vendor_json|safe }}');
		const current_selected = '{{ active_model_filter }}';
		// Function to update the model options based on the selected vendor
		function updateModelOptions() {
			const vendorSelect = document.getElementById('vendor-filter');
			const modelSelect = document.getElementById('model-filter');
			const selectedVendor = vendorSelect.value;
		
			// Clear previous options
			modelSelect.innerHTML = '<option value="all">All</option>';
		
			// If a valid vendor is selected, update the model dropdown
			if (selectedVendor !== 'all' && selectedVendor !== 'none') {
				const models = modelsPerVendor[selectedVendor];
		
				if (models) {
					models.forEach(function(model) {
						let option = document.createElement('option');
						if (current_selected == model) {
							option.selected = true;
						}
						option.value = model;
						option.textContent = model.charAt(0).toUpperCase() + model.slice(1);
						modelSelect.appendChild(option);
					});
				}
			}
		
			// If no vendor or 'all' is selected, keep the "All" option in the model dropdown
			modelSelect.disabled = (selectedVendor === 'none' || selectedVendor === 'all');
		}

		document.addEventListener('DOMContentLoaded', function() {
			updateModelOptions();
		});
	
	</script>
</details>

{% if has_dpf_warning %}
<div class="bubble warning" style="margin-bottom: 1em;">
	WARNING: One or more DPUs are using a provisioning strategy (internal) which is deprecated and will be removed in v2.1.
	See <a href="https://docs.nvidia.com/infra-controller/documentation/getting-started/installation-options/dpf-setup">how to enable DPF management for DPUs</a>.
</div>
{% endif %}

{% if grouped_hosts.is_none() %}
	{% include "managed_host_individual_table.html" %}
	{% include "pages_footer.html" %}
{% else %}
	{% include "managed_host_grouped_table.html" %}
{% endif %}
{% endblock %}
